:root {
    --bg-color: #EEF0F2;
    --font-color: #2D3A3A;
    --highlight-color: orange;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    color: var(--font-color);
}

#title {
    font-size: 2rem;
}

.legend-label {
    fill: var(--font-color);
    font-size: 0.8rem;
}

#tooltip {
    fill: var(--font-color);
    font-size: 1rem;
}

#tooltip {
    fill: var(--font-color);
    font-size: 1rem;
}

#tooltip-bg {
    fill: var(--bg-color)
}

#tooltip-group {
    transition: opacity 200ms;
}