:root {
    --bg-color: #EEF0F2;
    --font-color: #2D3A3A;
    --tooltip-bg: #A2999E;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    color: var(--font-color);
}

#title {
    font-size: 2rem;
}

#legend {
    fill: var(--font-color);
    font-size: 0.8rem;
}

.tile-text {
    text-align: center;
    font-size: 0.7rem;
}

#tooltip-text {
    background-color: var(--tooltip-bg);
    text-align: center;
    border-radius: 1rem;
    padding: 0.5rem;
}

button {
    border: none;
    padding: .7rem;
    margin: .7rem;
    border-radius: 1rem;
    ;
}

.active {
    background-color: blue;
    color: white;
}